@charset "UTF-8";

h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.container{
  width: 720px;
  margin: 0 auto;
}

#add{
  display: block;
  height: 1.8rem;
  width: 720px;
  margin: 0 auto;
  border-radius: 3px;
}

@media (max-width:720px) {
  .container{
    width: 400px;
    margin: 0 auto;
  }

  #add{
    width: 400px;
  }

}
