@charset "UTF-8";

h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.container{
  width: 720px;
  margin: 0 auto;
}

#addLabel,#addNumber,#addButton{
  display: block;
  height: 1.8rem;
  width: 700px;
  margin: 0 auto;
  border-radius: 3px;
}

#input{
  display: block;
  margin-bottom: 4rem;
}

@media (max-width:720px) {
  .container{
    width: 400px;
    margin: 0 auto;
  }

  #addLabel,#addNumber,#addButton{
    width: 400px;
  }

}
